@charset "utf-8";

@media screen and (max-width:1200px){
    #szures_form{
        font-size: 13px;
    }

    .adatlap-oldalszerkezet{
        grid-template-columns: 1fr;
        padding-top: 20px;
    }


    #terkep{

        height: 300px;
    }
    #terkep-felirat{
        font-size: 14px;
    }
    .kapcsolat-div{
        font-size: 14px;

    }
    #kapcsolat-text{
        width:80%;
        margin: auto;
        height: 60px;
    }
    #kapcsolat-gomb{
        font-size: 15px;
        padding-top: 4px;
        padding-bottom: 4px;
    }
}
@media screen and (max-width:1000px){
    header{
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: white;
        border: 1px solid black;
    }

    #panel{
        grid-column: 1 / 4;
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 1px solid brown;
        width: 90%;
        margin: auto;
    }
    nav li{
        font-size: 20px;
    }
    table{
        font-size: 12px;
    }
    td, th{
        padding: 2px;
    }

    #keresosav{
        width: 88%;
    }

    /*borond*/

    #szures_form{
        font-size: 10px;
    }
    .adatFeltolt{
        font-size: 12px;
    }

    #adatok_tarolo p{
        font-size: 12px;
    }

    .kepetMutat{
        font-size: 10px;
    }

    .torolKosar{

        font-size: 15px;
        height: 50%;
    }

    .rendeles{
        font-size: 15px;
    }

}

@media screen and (max-width:800px){
    nav li{
        font-size: 16px;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    #belepes, #regisztracio{
        font-size: 12px;
    }

    /*borond*/

    #szures_form{
        font-size: 8px;

    }
    #szuresGombok{
        padding-left: 0px;
        padding-right: 0px;

    }
    #szures-gomb{
        font-size: 15px;
    }
    #szures-torol{
        font-size: 12px;
    }

    .info{
        padding: 0px;
        width: 60%;
    }
    .info a{
        font-size: 12px;
    }

    #adatok_tarolo{
        padding-bottom: 10px;
    }

    #adatok_tarolo p{
        height: 10px;
    }

    .kosarTablazat{
        font-size: 12px;
    }
    
    .szinek button{
        height: 10px;
        width: 10px;
    }

}
@media screen and (max-width:700px){
    main{
        width: 100%;
    }
    table{
        font-size: 10px;
    }

    /*borond*/

    #szures_form{
        padding-left: 0px;
        padding-right: 0px;
    }

    input[type=radio] {
        width: 8px;
    }
    input[type=checkbox] {
        width: 8px;
    }

    .kosarTablazat{
        font-size: 10px;
    }

    .kepetMutat{
        font-size: 8px;
    }
    .torolGombok{
        font-size: 8px;
    }

}
@media screen and (max-width:600px){
    td, th{
        padding: 0px;
    }

    /*borond*/

    .lapozElem button{
        font-size: 8px;
    }

    #adatok_tarolo p{
        height: 6px;
    }

    .info a{
        font-size: 9px;
    }

    #kosarbaGomb input{
        height: 20px;
        width: 20px;
    }
    #menny{
        font-size: 14px;
    }

    .szinek button{
        width: 20px;
        height: 20px;
    }

    #kosarbaGomb{
        padding-bottom: 10px;
        padding-top: 40px;
    }
    #kosarbaGomb label{
        font-size: 15px;
    }

    .kosarba{
        margin-top: 10px;
        font-size: 15px;
    }

    #adatlap_szinek{
        width: 80%;
        font-size: 14px;
    }

    .adatlap_tarolo th, .adatlap_tarolo td{
        font-size: 14px;
    }

}
@media screen and (max-width:400px){
    nav li{
        font-size: 12px;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    /*borond*/

    .lapozElem button{
        font-size: 6px;
    }
}