@charset "utf-8";

/* Fejléc */
header h1{
    text-align: center;
    color: brown;
    font-weight: bold;
}
.kereso-panel{
    height: 50%;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}
#keresosav{    
    height: 100%;
    width: 99%;   
    background-color: lightgrey;
    border: none;
}
#kereso-gomb:hover{
    background: #ccc;
}
/* Fejléc vége */

/*Bejelentkezés, Regisztráció gombok */
article{
    text-align: center; 
    color: brown;
}
#belepes, #regisztracio, #kijelentkezes{
    border: none;
    background-color: white;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}
#regisztracio{
    border-left: 1px solid brown;
}
#udvozles{
    text-align: center;
    color: brown;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 20px;
}
#kijelentkezesForm{
    border-left: 1px solid brown;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}
/*Bejelentkezés, Regisztráció gombok vége*/

/* Belépés és Regisztráció panel */
.form-container {
    max-width: 500px;
    padding: 10px;
    background-color: white;
}
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
.form-container label{
    margin-top: auto;
    margin-bottom: auto;
}
.form-container .btn{
    background-color: #04AA6D;
}
.form-container .btncancel {
    background-color: red;
}
/* Belépés és Regisztráció panel vége*/

/* Navigáció */
nav li{
    list-style-type: none;
    background-color: brown;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#menu{
    display: grid;
    text-align: center;
}

nav a{
    text-decoration: none;
    color: white;
}

nav button{
    border: none;
    background-color: brown;
    cursor: pointer;
    color: white;
    font-size: 25px;
}
/* Navigáció vége */

/* Térkép */
#terkep{
    border: none;
    width:80%; 
    height:250px;
    padding-top: 30px;
}
/* Térkép vége */

/* Footer */
footer{
    text-align: center;
    color: brown;
}
/* Footer vége*/