@charset "utf-8";

/* Fejléc */
header h1{
    text-align: center;
    color: brown;
    font-weight: bold;
}
.kereso-panel{
    height: 50%;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}
#keresosav{    
    height: 95%;
    width: 87%;   
    background-color: lightgrey;
    border: none;
}
#kereso-gomb:hover{
    background: #ccc;
}
/* Fejléc vége */

/*Bejelentkezés, Regisztráció gombok */
#belepes, #regisztracio{
    border: none;
    background-color: white;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}
#regisztracio{
    border-left: 1px solid brown;
}
/*Bejelentkezés, Regisztráció gombok vége*/

/* Belépés és Regisztráció panel */
.form-container {
    max-width: 500px;
    padding: 10px;
    background-color: white;
}
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
.form-container label{
    margin-top: auto;
    margin-bottom: auto;
}
.form-container .btn{
    background-color: #04AA6D;
}
.form-container .btncancel {
    background-color: red;
}
/* Belépés és Regisztráció panel vége*/

/* Navigáció */
nav li{
    list-style-type: none;
    background-color: brown;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;

}
#menu{
    display: grid;
    text-align: center;
}

nav a{
    text-decoration: none;
    color: white;
}
/* Navigáció vége */

/* Képgaléria */
article{
    text-align: center; 
    color: brown;
}
#balkep, #jobbkep{
    width: 60%;
    margin: auto;
    opacity: 0.4;
}
#jobb, #bal{
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    background-color: brown;
    color: white;
    /*font-size: 50px;*/
    font-size: larger;
    font-weight: bold;
}
/* Képgaléria vége */

/* Táblázat */
aside{
    padding-top: 20px;
    padding-bottom: 20px;
}

td, th{
    padding: 5px;
    margin: auto;
}
table tr{
    background-color: white;
}
.szinek button{
    width: 15px;
    height: 15px;
}
/* Táblázat vége */

/* Footer */
footer{
    text-align: center;
    color: brown;
}
/* Footer vége*/

/* Térkép */
#terkep{
    border: none;
    width:650px; 
    height:450px;
    padding-top: 30px;
}
/* Térkép vége */

/* Bőrönd oldal */
.termek{
    background-color: lightgrey;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid brown;
}
.termek img{
    mix-blend-mode: multiply;
    width: 50%;
}
.borond-kep{
    text-align: center;
}
#adatok_tarolo{
    background-color: white;
    padding-bottom: 10px;
    border: 3px solid brown;
    font-size: 20px;
}
.szures{
    background-color: white;
    border-bottom: 1px solid brown;
    border-left: 1px solid brown;
    border-right: 1px solid brown; 
}
#adatok_tarolo p{
    height: 20px;
}
/* Bőrönd oldal vége */
#szures_form{
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 200%;
}
#urmertek_csuszka{
    margin: auto;
}
#szures-gomb{
    color: white;
    margin: auto;
    width: 100%;
    background-color: brown;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: brown;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: brown;
  cursor: pointer;
}
#slider_ertek{
    text-align: center;
}

#szinek_tarolo label{
    padding-left: 20px;
}